* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img, video {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Header styling */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;

  img {
    width: 70%;
  }

  /* Section met date picker */
  section:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
    form {
      input {

      }
    }

    ul {
      display: flex;
      gap: .7rem;

      li {
        border-right: solid 1px var(--tekst-donker);
        padding-right: .7rem;
      }

      button {
        all: unset;
        font-family: Arial, Helvetica, sans-serif;

        &.active {
          text-decoration: underline;
          color: var(--radiogids-rood)
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  overflow-x: auto;

  svg:nth-of-type(1) {
    margin: .5rem 0rem;
    position: fixed;
    top: 35vh;
    z-index: -1;
  }

  svg:nth-of-type(2) {
    margin: .5rem 0rem;
    position: fixed;
    bottom: 35vh;
    z-index: -1;
  }

  /* Section met timeline  */
  section:nth-of-type(1) {
    display: flex;

    ul {
      display: flex;
      gap: 4rem;

      li {

      }
    }
  }

  /* Section met radio veronica  */
  section:nth-of-type(2) {
    display: flex;
    margin: 2rem 0rem;
    gap: 2rem;

    figure:nth-of-type(1) {
      width: 20vw;
    }

    figure {
      width: 40vw;
      /* fix voor het kleiner worden van de figures die uit het scherm zijn */
      flex-shrink: 0;

       img {
        width: 5rem;
        height: auto;
        background-color: var(--veronica-blauw);
       }
    }
  }

  /* Section met radio 100%nl  */
  section:nth-of-type(3) {
    display: flex;
    margin: 2rem 0rem;
    gap: 2rem;

    figure:nth-of-type(1) {
      width: 20vw;
      

    }

    figure {
      width: 40vw;

      /* fix voor het kleiner worden van de figures die uit het scherm zijn */
      flex-shrink: 0;

       img {
        width: 5rem;
        height: auto;
        background-color: var(--veronica-blauw);
       }
    }
  }

  /* Section met radio slam!  */
  section:nth-of-type(4) {
    display: flex;
    margin: 2rem 0rem;
    gap: 2rem;

    figure:nth-of-type(1) {
      width: 20vw;
    }

    figure {
      width: 40vw;
      /* fix voor het kleiner worden van de figures die uit het scherm zijn */
      flex-shrink: 0;

       img {
        width: 5rem;
        height: auto;
        background-color: var(--veronica-blauw);
       }
    }
  }
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--tekst-donker);
  padding: 1rem;
  width: 100vw;
  position: fixed;
  bottom: 0;

  svg {
    path {
      fill: white;
    }
  }
}