:root {

    color-scheme: light dark;

    /* radio Veronica */
    --veronica-primary: #0091FF;
    --veronica-secondary: #FF006B;

    /* radio 100%NL */

    --honderdnl-primary: #E17000;
    --honderdnl-secondary: #1e1e1e;

    /* radio Slam! */
    --slam-primary: #FF006B;
    --slam-secondary: #0AAAE1;

    /* General app styling */

    --radiogids-primary: #EF0105;
    --radiogids-light-background: #ffffff;
    --radiogids-dark-background: #1e1e1e;
    --text-dark: #1E1E1E;
    --text-light: #ffffff;

    /* Font sizes */

    /* headings */

    --large-heading: clamp(2rem, 2rem, 5rem);
    --medium-heading: clamp(1.5rem, 1.5rem, 5rem);
    --small-heading: clamp(1.3rem, 1.3rem, 5rem);

    /* paragraph */
    --large-paragraph: clamp(1.2rem, 1.2rem, 5rem);
    --medium-paragraph: clamp(1.1rem, 1.1rem, 3rem);
    --small-paragraph: clamp(1rem, 1rem, 2rem);

    /* Border radius */

    --border-radius: .7rem;
    --border-radius-button: 1.4rem;

    /* width, height and gap per card */

    --hour-width: 10rem; /* base 160px */
    --gap-width-px: 16px;  /* gap tussen de kaartjes */

    --hour-height: 5.258rem; /* base 160px */
    --gap-height-px: 14px;  /* gap tussen de kaartjes */

    /* timeline position */

    --time: 0; 
    --offset-width: 80px; 
    --hour-width-px: 160px;

    --hour-height-px: 5.28rem;
    --offset-height: 19dvh; 

    /* padding */
    --padding-regular: .5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }
}

html, body {
  background-color: light-dark(var(--radiogids-light-background), var(--radiogids-dark-background));
  height: 100dvh;
}

body {

    overscroll-behavior: none;

    &.home {
        height: 100vh;
    }

    &:has(#station-selector:popover-open) {
        overflow: hidden;
    }
}

.hidden {
  display: none;
}

img, video {
  width: 100%;
  height: auto;
}

button, a {
  -webkit-appearance: none;
  appearance: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

p, h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1 {
    font-size: var(--large-heading);
    font-weight: 700;
}

h2 {
    font-size: var(--medium-heading);
    font-weight: 700;
}

h3, h4, h5, h6 {
    font-size: var(--small-heading);
    font-weight: 700;
}

p, a, button {
    font-size: 1rem;
    font-weight: 700;
}

button {
  width: 7rem;
  height: 2.5rem;
  padding: var(--padding-regular);
  border-radius: var(--border-radius-button);
  border: none;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(.95);
  }

  &:focus {

  }
}


.fly-in-text {
  opacity: 0;
  transform: translateY(50px);
  animation: flowIn 0.3s ease-out forwards;
}

.show-card-link {
  
  display: inline-block; 
  animation: appear linear both;
  
  animation-timeline: view(inline); 
  animation-range: entry 0% entry 50%;
  
}

/* keyframes */

@keyframes slide-up {
  from { 
    transform: translateX(60%); 
  }
  
  to { 
    transform: translateX(0); 
  }
}

@keyframes live {
  0% {
    scale: .8;
    opacity: .5;
  }
  
  50% {
    scale: 1;
    opacity: 1;
  }
  
  100% {
    scale: .8;
    opacity: .5;
  }
}

@keyframes flowIn {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes button-hover {
  from {
    transform: scale(.9);
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes Kaartjesrender {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}