:root {

    color-scheme: light dark;

    /* radio Veronica */
    --veronica-primary: #0091FF;
    --veronica-secondary: #FF006B;

    /* radio 100%NL */

    --honderdnl-primary: #E17000;
    --honderdnl-secondary: #1e1e1e;

    /* radio Slam! */
    --slam-primary: #FF006B;
    --slam-secondary: #0AAAE1;

    /* General app styling */

    --radiogids-primary: #EF0105;
    --radiogids-light-background: #ffffff;
    --radiogids-dark-background: #1e1e1e;
    --text-dark: #1E1E1E;
    --text-light: #ffffff;

    /* Font sizes */

    /* headings */

    --large-heading: clamp(2rem, 2rem, 5rem);
    --medium-heading: clamp(1.5rem, 1.5rem, 5rem);
    --small-heading: clamp(1.3rem, 1.3rem, 5rem);

    /* paragraph */
    --large-paragraph: clamp(1.2rem, 1.2rem, 5rem);
    --medium-paragraph: clamp(1.1rem, 1.1rem, 3rem);
    --small-paragraph: clamp(1rem, 1rem, 2rem);

    /* Border radius */

    --border-radius: .7rem;
}

body {
    overscroll-behavior: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: var(--large-heading);
    font-weight: 700;
}

h2 {
    font-size: var(--medium-heading);
    font-weight: 700;
}

h3, h4, h5, h6 {
    font-size: var(--small-heading);
    font-weight: 700;
}

p, a {
    font-size: 1rem;
    font-weight: 700;
}

/* veronica styling */

button.veronica {
    all: unset;
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--veronica-blauw);
    color: var(--tekst-licht);
    display: block;
    padding: 1rem;
}

/* veronica slam */

 button.slam {
    all: unset;
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--slam-pink);
    color: var(--tekst-licht);
    display: block;
    padding: 1rem;
}

 button.honderdnl {
    all: unset;
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--hondernl-orange);
    color: var(--tekst-licht);
    display: block;
    padding: 1rem;
}

button.radiogids {
    all: unset;
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--radiogids-rood);
    color: var(--tekst-licht);
    display: block;
    padding: 1rem;
}
