/* ----------------- General styling for all pages ----------------- */
:root {
    --text-color-accent: #E11A29;
    --veronica-blauw: #0091FF;
    --honderdnl-black: #1E1E1E;
    --slam-pink: #FF006B;
    --border-radius: 1rem;
}

* {
    margin: 0rem;
    padding: 0rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

img,
video {
    width: 100%;
    height: auto;
}

body {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* ----------------- Styling for Home page ----------------- */

/* ----------------- aside area (20vw) ----------------- */
aside {
    grid-column: 1;
    grid-row: 2;
    border-right: 1px solid #CECECE;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8rem;
        margin-top: 14vh;
    }
}

header {
    grid-column: 1 / 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    img {
        width: 70%;
        margin: 0 auto;
    }
}

/* ----------------- Content area (80vw) ----------------- */
main {
    grid-column: 2;
    grid-row: 2;

    section:nth-of-type(1) {
        display: flex;
        justify-content: space-between;
        max-width: 85vw;
        gap: 2rem;
        height: 1rem;

        select {
            background: none;
        }

        article {
            display: flex;
            gap: 2vw;

            p {
                border-right: 1px #CECECE solid;
                padding-right: 2vw;

                &.active {
                    color: var(--text-color-accent);
                    text-decoration: underline;
                }
            }
        }
    }

    section:nth-of-type(2) {
        margin-left: 1rem;
        margin-top: 1rem;

        article {
            display: flex;
            overflow-x: scroll;
            gap: 2vw;

            &::-webkit-scrollbar {
                display: none;
            }

            a {
                display: block; 
                width: 40vw;
                min-width: 100px;
                max-width: 200px;

                img {
                    width: 40vw;
                    min-width: 100px;
                    max-width: 200px;
                    max-height: 150px;
                    height: 9vh;
                    padding: 1.2rem;
                    border-radius: var(--border-radius);
                }
            }

            a:nth-of-type(1) img {
                padding: 1rem 1rem;
                background-color: var(--veronica-blauw);
            }

            a:nth-of-type(2) img {
                background-color: var(--honderdnl-black);
            }

            a:nth-of-type(3) img {
                background-color: var(--slam-pink);
            }
        }
    }

    section:nth-of-type(2) {
        overflow-x: scroll;
        
        article {
            display: flex;
            gap: 2vw;
            width: max-content;

            figure {
                background-color: var(--honderdnl-black);
                color:white;
                width: 40vw;
                max-width: 200px;
                border-radius: var(--border-radius);
                

                &.veronica {
                    background-color: var(--veronica-blauw);
                    color:white;
                }

                &.honderdnl {
                    background-color: var(--honderdnl-black);
                    color: white;
                }

                &.slam {
                    background-color: var(--slam-pink);
                    color: white;
                }

                img {
                    width: 40vw;
                    min-width: 100px;
                    max-width: 200px; 
                    height: 10vh;
                    min-height: 1rem;
                    max-height: 10rem;
                    object-fit:cover; 
                    border-radius: var(--border-radius) var(--border-radius) 0px  0px;
                    
                }

                figcaption {
                    padding: .5rem;
                    font-size: 1rem;
                    font-weight: 900;

                    h3 {
                        margin-bottom: .3rem;
                    }

                    p:nth-of-type(1) {
                        margin-bottom: .3rem;
                    }
                }
            }
        }

        article:nth-of-type(2) > a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40vw;
            min-width: 100px;
            max-width: 240px;
        }
    }
}

footer {
    grid-column: 1 / 3;
    grid-row: 3;
    padding: 2rem;
}

*::-webkit-scrollbar {
    display: none;
}