/* important information 
One hour = 160px; / 10rem
Two hours = 320px / 20rem
Three hours = 480px / 30rem
Four hours = 640px / 40rem
Five hours = 800px / 50rem
Six hours = 960px / 60rem
*/

html, body {
  background-color: light-dark(var(--radiogids-light-background), var(--radiogids-dark-background));
}

* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
} 

.hidden {
  display: none;
}

img, video {
  width: 100%;
  height: auto;
}

p, h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
}

/* Header styling */

header.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5rem;

  picture {

    img {
      width: 50%;
      max-width: 400px;
      height: auto;
      margin: 0 auto;
    }
  }

  /* Section met date picker */

  section:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    position: relative;
    
    form {
      input {

      }
    }

    ul {
      display: flex;
      gap: .7rem;

      li {
        border-right: solid 1px var(--tekst-donker);
        padding-right: .7rem;
      }

      button {
        all: unset;
        font-family: Arial, Helvetica, sans-serif;

        &.active {
          text-decoration: underline;
          color: var(--radiogids-rood)
        }
      }
    }
  }
}

/* Radiogids "home" styling */

main {
  display: flex;
  flex-direction: column;
  overflow-x: auto;

  /* Section met timeline  */

  section:nth-of-type(1).sync-scroll {
    display: flex;
    background-color: var(--honderdnl-secondary);
    color: white;
    width: max-content;
    background-image: linear-gradient(
        90deg, 
        rgba(255, 255, 255, 1) 1px, 
        transparent 1px
      );

    background-size: 10.2rem 35%;
    background-repeat: repeat-x;
    background-position: 5.4rem bottom;
    position: relative;
    height: 3rem;
    align-items: center;

    ul {
      display: flex;
      gap: 7.7rem;
      padding-left: 0;
      margin-left: 2.8rem;

    }

    svg:nth-of-type(1) {
      display: flex;
      position: sticky;
      top: 0vh;
      left: 50vw;
      flex-shrink: 0;
      align-self: flex-start;
    }

    svg:nth-of-type(2) {
      display: flex;
      position: sticky;
      bottom: 0vh;
      left: 50vw;
      flex-shrink: 0;
      align-self: flex-end;
    }
  }

  /* styling van alle programma kaartjes zonder de kleuren */

  section.kaartje {
    display: flex;
    gap: .5rem;
    width: max-content;

    figure {
      width: 20vw;
      max-width: 80px;
      position: sticky;
      left: 0;
      height: 23vh;
      display: flex;
      align-items: center;
      border-radius: 0rem var(--border-radius) var(--border-radius) 0rem;

      img {
        width: 100%;
      }
    }

    article {
      flex-shrink: 0;
      color: white;
      border-radius: var(--border-radius);
      width: 40vw;
      max-width: 9.74rem;

      img {
        border-radius: var(--border-radius)  var(--border-radius) 0rem 0rem;
        object-fit: cover;
        width: 100%;
        height: 9vh
      }

      section {
        padding: .5rem;
      }

      p {
        display: flex;
        align-items: center;
        gap: 2vw;
        
        &:nth-of-type(1)::before {
          content: url("data:image/svg+xml;utf8,<svg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(%23clip0_53_2961)'><path d='M13.4583 16.625V15.0417C13.4583 14.2018 13.1247 13.3964 12.5308 12.8025C11.937 12.2086 11.1315 11.875 10.2917 11.875H3.95833C3.11848 11.875 2.31302 12.2086 1.71916 12.8025C1.12529 13.3964 0.791664 14.2018 0.791664 15.0417V16.625M18.2083 16.625V15.0417C18.2078 14.34 17.9743 13.6584 17.5444 13.1039C17.1145 12.5494 16.5127 12.1533 15.8333 11.9779M12.6667 2.47792C13.3478 2.65232 13.9516 3.04847 14.3827 3.60391C14.8139 4.15935 15.0479 4.84249 15.0479 5.54563C15.0479 6.24876 14.8139 6.9319 14.3827 7.48734C13.9516 8.04278 13.3478 8.43893 12.6667 8.61333M10.2917 5.54167C10.2917 7.29057 8.8739 8.70833 7.125 8.70833C5.3761 8.70833 3.95833 7.29057 3.95833 5.54167C3.95833 3.79276 5.3761 2.375 7.125 2.375C8.8739 2.375 10.2917 3.79276 10.2917 5.54167Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></g><defs><clipPath id='clip0_53_2961'><rect width='19' height='19' rx='9.5' fill='white'/></clipPath></defs></svg>");
        }

        &:nth-of-type(2)::before {
          content: url("data:image/svg+xml;utf8,<svg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(%23clip0_53_2962)'><path d='M9.5 4.74992V9.49992L12.6667 11.0833M17.4167 9.49992C17.4167 13.8722 13.8723 17.4166 9.5 17.4166C5.12775 17.4166 1.58334 13.8722 1.58334 9.49992C1.58334 5.12766 5.12775 1.58325 9.5 1.58325C13.8723 1.58325 17.4167 5.12766 17.4167 9.49992Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></g><defs><clipPath id='clip0_53_2962'><rect width='19' height='19' rx='9.5' fill='white'/></clipPath></defs></svg>");
        }
      }

      .normal-hidden {
        display: none;
      }
    }
  }
  

  /* Alle kleuren van veronica  */

  section:nth-of-type(2) {
    margin-top: .5rem;

    figure {
      background-color: var(--veronica-primary);


      img {
        background-color: var(--veronica-primary);
      }
    }

    article {
      background-color: var(--veronica-primary);

       img {
        background-color: var(--veronica-primary);
       }
    }
  }

  /* Alle kleuren van 100%NL  */

  section:nth-of-type(3) {
    margin: .5rem 0;

    figure {
      background-color: light-dark(var(--honderdnl-secondary), var(--honderdnl-primary));

      img {
        background-color: light-dark(var(--honderdnl-secondary), var(--honderdnl-primary));
      }

    }

    article {
      background-color: light-dark(var(--honderdnl-secondary), var(--honderdnl-primary));

       img {
        background-color: light-dark(var(--honderdnl-secondary), var(--honderdnl-primary));
       }
    }
  }

  /* Section met radio slam!  */
  section:nth-of-type(4) {
    margin: .5 0rem;

    figure {
      background-color: var(--slam-primary);

      img {
        background-color: var(--slam-primary);
      }
      
    }

    /* article met alle programma's radio slam!  */
    article {
      background-color: var(--slam-primary);
      

       img {
          background-color: var(--slam-primary);
       }
    }
  }

  /* styling voor de popover */

  section:nth-of-type(5) {

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {

      }

      button {
        all: unset;
        display: flex;
        align-items: center;
        
      }
    }

    video {
      width: 90vw;
      height: auto;
    }

    svg {

      path {
        fill: var(--honderdnl-secondary);
      }
    }
  }

  /* styling voor de zenders die 2 uur duren */

  section {

    article.block {

      width: 90vw;
      max-width: 320px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr auto auto;
      grid-template-areas:
        "poster details"
        "time   empty"
        "title  title";
      gap: 0;
      border-radius: var(--border-radius);
      height: 23vh;

      /* gebruikt omdat de border radius van de block kaartjes anders niet werken */
      overflow: hidden;

     img {
        grid-area: poster;
        width: 100%;
        height: 100%;
        max-height: 116px;
        object-fit: cover;
        border-radius: var(--border-radius) 0 var(--border-radius) 0;
      }

      section {
        display: contents;
      }

      h3 {
        grid-area: title;
        padding: 0.2rem 1rem;
        padding-top: 0;
        margin: 0;
      }

      p.time {
        grid-column: 1;
        grid-row: 2;
        margin: 0;
        padding: 0.2rem 1rem;
        font-weight: 700;
        padding-bottom: 0;
        display: flex;
        align-items: center;

        &::before {
          content: url("data:image/svg+xml;utf8,<svg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(%23clip0_53_2962)'><path d='M9.5 4.74992V9.49992L12.6667 11.0833M17.4167 9.49992C17.4167 13.8722 13.8723 17.4166 9.5 17.4166C5.12775 17.4166 1.58334 13.8722 1.58334 9.49992C1.58334 5.12766 5.12775 1.58325 9.5 1.58325C13.8723 1.58325 17.4167 5.12766 17.4167 9.49992Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></g><defs><clipPath id='clip0_53_2962'><rect width='19' height='19' rx='9.5' fill='white'/></clipPath></defs></svg>");
        }
      }

      .block-hidden {
        display: none;
      }

      figure {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin: 0;
        padding: 0.5rem 1rem;
        position: static;
        height: 60px;
        width: auto;
        border-radius: 0;

        &:nth-of-type(1) {
            align-self: start;
            padding: 0 1rem;
          }

        &:nth-of-type(2) {
          align-self: end;
          padding: 0 1rem;
        }

        & img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        & figcaption p {
          padding: 0;
          margin: 0;
          grid-column: auto;
          grid-row: auto;

          &:nth-of-type(1)::before {
            content: "";
          }
        }
      }
    }
  }
}



footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--tekst-donker);
  padding: 1rem;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

.test-line {
  display: flex;
  width: 1vw;
  height: 100%;
  background-color: red;
  position: absolute;
  top: 10vh;
  left: 50.5vw;
}

