/* ----------------- General styling for all pages ----------------- */

@font-face {
    font-family: Triple;
    src: url(../);
}

* {
    margin: 0;
    padding: 0;
}

img, video {
    width: 100%;
    height: auto;
}

header {

}

main {

}

footer {

}

/* ----------------- Styling for Home page ----------------- */

#home {
    header {

    }

    main {

    }

    footer {

    }
}