* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;

  &::-webkit-scrollbar {
    display: none;
  } 



img, video {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Header styling */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5rem;

  img {
    width: 60%;
    height: auto;
    margin: 0 auto;
  }

  /* Section met date picker */
  section:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
    form {
      input {

      }
    }

    ul {
      display: flex;
      gap: .7rem;

      li {
        border-right: solid 1px var(--tekst-donker);
        padding-right: .7rem;
      }

      button {
        all: unset;
        font-family: Arial, Helvetica, sans-serif;

        &.active {
          text-decoration: underline;
          color: var(--radiogids-rood)
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  overflow-x: auto;

  svg:nth-of-type(1) {
    margin: .5rem 0rem;
    position: absolute;
    top: 37vh;
    z-index: -1;
  }

  svg:nth-of-type(2) {
    margin: .5rem 0rem;
    position: absolute;
    bottom: 27vh;
    z-index: -1;
  }

  /* Section met timeline  */
  section:nth-of-type(1) {
    display: flex;

    ul {
      display: flex;
      gap: 4rem;
      padding-left: 0;
      margin-left: -1rem;
      padding: 0rem 1rem;

      li {

      }
    }
  }

  /* Section met timer  */
  section:nth-of-type(1) {
    background-color: var(--honderdnl-black);
    color: white;
    width: max-content;
    padding:  1rem 0rem;
    padding-left: 1rem;
    background-image: linear-gradient(
        90deg, 
        rgba(255, 255, 255, 1) 1px, 
        transparent 1px
      );

      background-size: 6.5rem 40%;

      background-repeat: repeat-x;
      background-position: bottom;
      }

  /* Section met radio veronica  */
  section:nth-of-type(2) {
    display: flex;
    
    gap: 2rem;
    width: max-content;

    figure {
      width: 20vw;
      background-color: var(--veronica-blauw);
      position: sticky;
      left: 0;
      height: 23vh;
      display: flex;
      align-items: center;
      border-radius: 0rem 0rem var(--border-radius) 0rem;


      img {
        width: 20vw;
        background-color: var(--veronica-blauw)
      }
    }

    article {
      width: 40vw;
      /* fix voor het kleiner worden van de article die uit het scherm zijn */
      flex-shrink: 0;
      background-color: var(--veronica-blauw);
      color: white;
      border-radius: var(--border-radius);

       img {
        width: 100%;
        height: auto;
        background-color: var(--veronica-blauw);
        border-radius: var(--border-radius)  var(--border-radius) 0rem 0rem;
       }
    }
  }

  /* Section met radio 100%nl  */
  section:nth-of-type(3) {
    display: flex;
    margin: 1rem 0rem;
    gap: 2rem;
    width: max-content;

    figure {
      width: 20vw;
      background-color: var(--honderdnl-black);
      position: sticky;
      left: 0;
      height: 23vh;
      display: flex;
      align-items: center;
      border-radius: 0rem var(--border-radius) var(--border-radius) 0rem;

      img {
        width: 20vw;
        background-color: var(--honderdnl-black)
      }

    }

    article {
      width: 40vw;
      /* fix voor het kleiner worden van de article die uit het scherm zijn */
      flex-shrink: 0;
      background-color: var(--honderdnl-black);
      color: white;
      border-radius: var(--border-radius);

       img {
        width: 100%;
        height: auto;
        background-color: var(--honderdnl-black);
        border-radius: var(--border-radius)  var(--border-radius) 0rem 0rem;
       }
    }
  }

  /* Section met radio slam!  */
  section:nth-of-type(4) {
    display: flex;
    margin: 1 0rem;
    gap: 2rem;
    width: max-content;

    figure {
      width: 20vw;
      background-color: var(--slam-pink);
      position: sticky;
      left: 0;
      height: 23vh;
      display: flex;
      align-items: center;
      border-radius: 0rem var(--border-radius) var(--border-radius) 0rem;

      img {
        width: 20vw;
        background-color: var(--slam-pink);
      }
    }

    article {
      width: 40vw;
      /* fix voor het kleiner worden van de article die uit het scherm zijn */
      flex-shrink: 0;
      background-color: var(--slam-pink);
      color: white;
      border-radius: var(--border-radius);

       img {
        width: 100%;
        height: auto;
        background-color: var(--sllam-pink);
        border-radius: var(--border-radius)  var(--border-radius) 0rem 0rem;
       }
    }
  }
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--tekst-donker);
  padding: 1rem;
  width: 100vw;
  position: fixed;
  bottom: 0;

  svg {
    path {
      fill: white;
    }
  }
}