/* ----------------- General styling for all pages ----------------- */


* {
    margin: 0rem;
    padding: 0rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }
}

img,
video {
    width: 100%;
    height: auto;
}

body {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    position: relative;
}

.overlay {
  position: absolute;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 2; 
  cursor: pointer; 
}

.hidden {
    display: none;
}

/* ----------------- Styling for Home page ----------------- */

/* ----------------- aside area (20vw) ----------------- */

aside {
    grid-column: 1;
    grid-row: 2;
    border-right: 1px solid #CECECE;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3.5rem;

        li {
            & + li {
                margin-bottom: 9.5rem;
            }

            &:first-child {
                margin-bottom: .8rem; 
            }
        }
    }
    
    p.current {
        position: absolute;
        --x: 50%;
        --y: 0;
        top: var(--x);
        left: var(--y);
    }
}

header.header {
    grid-column: 1 / 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        width: 70%;
        margin: 0 auto;
    }
}

/* ----------------- Content area (80vw) ----------------- */
main {
    grid-column: 2;
    grid-row: 2;

    section:nth-of-type(1) {
        display: flex;
        justify-content: space-between;
        max-width: 85vw;
        gap: 2rem;
        height: 1rem;

        select {
            background: none;
            border: none;
        }

        article {
            display: flex;
            gap: 2vw;

            p {
                border-right: 1px #CECECE solid;
                padding-right: 2vw;

                &.active {
                    color: var(--text-color-accent);
                    text-decoration: underline;
                }
            }
        }
    }

    section:nth-of-type(2) {
        margin-left: 1rem;
        margin-top: 1rem;
        display: flex;
        overflow-x: scroll;

        header {
            display: flex;
            gap: 2vw;
            background-color: white;
        }

        a {
            display: block;
            width: 40vw;
            min-width: 100px;
            max-width: 200px;

            img {
                width: 100%;
                height: 9vh;
                min-height: 10px;
                max-height: 150px;
                padding: 1.2rem;
                border-radius: var(--border-radius);
            }

            .veronica-logo {
                padding: 1rem;
                background-color: var(--veronica-blauw);
            }

            .slam-logo {
                background-color: var(--slam-pink);
            }

            .honderd-logo {
                background-color: var(--honderdnl-black);
            }
        }

        figure {
            background-color: var(--honderdnl-black);
            color: white;
            width: 40vw;
            max-width: 200px;
            border-radius: var(--border-radius);
            margin: .5rem .5rem .5rem 0rem;

            &.veronica { 
                background-color: var(--veronica-blauw); 
            }

            &.honderdnl { 
                background-color: var(--honderdnl-black); 
            }

            &.slam { 
                background-color: var(--slam-pink); 
            }

            img {
                width: 100%;
                height: 10vh;
                min-height: 1rem;
                max-height: 10rem;
                object-fit: cover;
                border-radius: var(--border-radius) var(--border-radius) 0 0;
            }

            figcaption {
                padding: .5rem;
                font-size: 1rem;
                font-weight: 900;

                h3, p:nth-of-type(1) {
                    margin-bottom: .3rem;
                }
            }
        }
    }

    section.onscreen {
        position: fixed;
        bottom: 0vh;
        left: 0;
        z-index: 3;
        background-color: rgb(255, 255, 255);
        height: 50vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        border-radius: 1rem 1rem 0rem 0rem;
    }

    section:nth-of-type(3) {

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;

            p.live {

                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-weight: 500;

                &::before {
                    content: "";
                    width: 1rem;
                    height: 1rem;
                    background-color: #EF0105;
                    border-radius: 50%;
                    margin-right: .5rem;
                    animation-name: pulsing-dot;
                    animation-duration: 2s;
                    animation-timing-function: ease;
                    animation-iteration-count: infinite;
                }
            }

            p {
                margin-right: 1rem;
                font-weight: 500;
            }

            button {
                all: unset;
                display: flex;
                cursor: pointer;
            }
        }

        article {
            margin: 0 auto;
        }
        

        video {
             border-radius: 1rem;
             width: 90vw;
             height: auto;
        }
        
    }
}

footer {
    grid-column: 1 / 3;
    grid-row: 3;
    background-color: var(--honderdnl-black);
    color: white;
    position: sticky;
    bottom: 0;
    padding: 1rem 0;
    height: 12vh;

    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .4rem;
            
            a {
                color: white;
                text-decoration: none;
                font-size: 0.8rem;
            }
        }
    }
}                    



@keyframes pulsing-dot {
    0% {
        transform: scale(1);
        opacity: .7;
    }

    50% {
        transform: scale(1.3);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: .7;
    }
}